<div class="itembook">
  <div class="flex flex-column" [routerLink]="['/app/books/', book._id]">
    <div class="itembook-upper flex align-items-center justify-content-center">
      <img
        class="image"
        src="{{ rawUrl + book.image }}"
        alt=""
        style="width: 90%; object-fit: contain"
      />
    </div>
    <div class="itembook-lower">
      <div>
        <h4>{{ book.subject.name | uppercase }}</h4>
        <h2>{{ book.name | uppercase }}</h2>
        <h5>{{ 'By ' + book.autor.name | titlecase }}</h5>
      </div>
    </div>
    <div class="itembook-toolfooter flex justify-content-between align-items-center">
        <div class="button-ellipsis">
          <i class="pi pi-ellipsis-v" style="font-size: 1.5rem"></i>
        </div>


      <div class="button-arrow">
        <i class="pi pi-arrow-right" style="font-size: 1.5rem"></i>
      </div>
    </div>
  </div>
</div>
