<div class="itembook">
  <div class="flex flex-column">
    <div
      class="itembook-upper flex align-items-center justify-content-center"
      [routerLink]="['/app/books/', book._id]"
    >
      <img
        class="image"
        src="{{ rawUrl + book.image }}"
        alt=""
        style="width: 90%; object-fit: contain"
      />
    </div>
    <div class="itembook-lower" [routerLink]="['/app/books/', book._id]">
      <div>
        <h4>{{ book.subject.name | uppercase }}</h4>
        <h2>{{ book.name | uppercase }}</h2>
        <h5>{{ 'By ' + book.autor.name | titlecase }}</h5>
      </div>
    </div>
    <div class="itembook-toolfooter flex justify-content-between align-items-center">
      <h2 style="color: #F2FBE0; font-size: 1.5rem; margin-left: 0.5rem;">

        {{book.minPrice | currency }}
      </h2>
      <p-splitButton
        icon="pi pi-heart-fill"
        [model]="this.items"
        styleClass="p-button-text p-button-plain "
        [style]="{
          height: '45px',
          width: '80px',
          'background-color': 'transparent'

        }"
      ></p-splitButton>
    </div>
  </div>
</div>
