<frontend-search-header></frontend-search-header>

<div class="book-view-container">
  <div class="back-icon">
    <i class="pi pi-angle-left"></i>
    <span> Back to books</span>
  </div>
  <div class="book-view">
    <div class="image-container">
      <div class="image"></div>
    </div>
    <div class="text-container">
    <h2>{{ book.name | uppercase }}</h2>
    <p-rating [readonly]="true" [cancel]="false"></p-rating>
    <h3>{{ book.minPrice | currency }} - {{ book.maxPrice | currency }}</h3>
    <h4>{{ book.subject.name | uppercase }}</h4>
    <h5>{{ 'By ' + book.autor.name | titlecase }}</h5>
    <p>{{ book.description }}</p>
  </div>
  </div>
</div>


<!-- <div class="robin-container grid">
  <div
    class="col-12 sm:col-5 book-img align-self-center flex justify-content-center"
  >
    <img
      src="{{ RAW_URL + book.image }}"
      alt=""
      class=""
      style="width: 90%; object-fit: contain"
    />
  </div>
  <div class="col-12 sm:col-6 sm:col-offset-1 book-content">
    <h2>{{ book.name | uppercase }}</h2>
    <p-rating [readonly]="true" [cancel]="false"></p-rating>
    <h3>{{ book.minPrice | currency }} - {{ book.maxPrice | currency }}</h3>
    <h4>{{ book.subject.name | uppercase }}</h4>
    <h5>{{ 'By ' + book.autor.name | titlecase }}</h5>
    <p>{{ book.description }}</p>
    <div class="grid row-gap-3">
      <button class="col-12 sm:col-5 button-primary" 
      (click)="toCheckOut()
      ">
        {{ 'buy now' | uppercase }}
      </button>
      <button
        class="col-12 sm:col-6 sm:col-offset-1 button-secondary"
        (click)="addBookToWishlist()"
      >
        {{ 'to wishlist' | uppercase }}
      </button>
    </div>
  </div>
</div> -->

