<div class="book-header" *ngIf="book">
  <div class="flex book-search align-items-center justify-content-start">
    <div class="icon-back" (click)="back()">
      <i class="pi pi-arrow-left" style="font-size: 1.5rem"></i>
    </div>
    <h1>Back</h1>
  </div>
</div>

<div class="robin-container grid">
  <div class="col-12 sm:col-5 book-img align-self-center flex justify-content-center">
    <img
      src="{{ rawUrl + book.image }}"
      alt=""
      class=""
      style="width:90%; object-fit: contain; "
    />
  </div>
  <div class="col-12 sm:col-6 sm:col-offset-1 book-content">
    <h2>{{ book.name | uppercase }}</h2>
    <p-rating [readonly]="true" [cancel]="false"></p-rating>
    <h3>{{ book.minPrice | currency }} - {{ book.maxPrice | currency }}</h3>
    <h4>{{ book.subject.name | uppercase }}</h4>
    <h5>{{ 'By ' + book.autor.name | titlecase }}</h5>
    <p>{{ book.description }}</p>
    <div class="grid row-gap-3">
      <button class="col-12 sm:col-5 button-primary">
        {{ 'buy now' | uppercase }}
      </button>
      <button class="col-12 sm:col-6 sm:col-offset-1 button-secondary">
        {{ 'to wishlist' | uppercase }}
      </button>
    </div>
  </div>
</div>
