.book {
  &-header {
    width: 100%;
    background-color: #fcfaf8;
    height: 85px;
  }
  &-search {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;


  }
  &-container {
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
  }
}
