<p-toast></p-toast>
<div class="admin-page" *ngIf="(editMode && form) || editMode === false">
  <p-card
    [header]="editMode ? 'Edit books' : 'Add books'"
    subheader="You can add or edit bookss"
  >
    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              [label]="editMode ? 'Update' : 'Add'"
              (click)="onSubmit()"
              icon="pi pi-plus"
            ></p-button>
            <p-button
              label="Cancel"
              (click)="back()"
              styleClass="p-button-secondary ml-2"
              icon="pi pi-times"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
      <div class="col-12">
        <form [formGroup]="form">
          <div class="grid formgrid">
            <div class="field col-12 md:col-6">
              <label for="name">Name</label>
              <input
                formControlName="name"
                id="name"
                type="text"
                class="p-2 w-full text-base border-solid appearance-none outline-none text-color surface-overlay border-1 surface-border border-round focus:border-primary"
              />
              <small [errorMsg]="errorMsg('name')" class="ml-2 p-error">
              </small>
            </div>
            <div class="field col-12 sm:col-6 md:col-3">
              <label for="minPrice">minPrice</label><br />
              <input
                formControlName="minPrice"
                id="minPrice"
                type="number"
                class="p-2 w-full text-base border-solid appearance-none outline-none text-color surface-overlay border-1 surface-border border-round focus:border-primary"
              />

              <small [errorMsg]="errorMsg('minPrice')" class="ml-2 p-error">
              </small>
            </div>
            <div class="field col-12 sm:col-6 md:col-3">
              <label for="maxPrice">maxPrice</label><br />
              <input
                formControlName="maxPrice"
                id="maxPrice"
                type="number"
                class="p-2 w-full text-base border-solid appearance-none outline-none text-color surface-overlay border-1 surface-border border-round focus:border-primary"
              />

              <small [errorMsg]="errorMsg('maxPrice')" class="ml-2 p-error">
              </small>
            </div>

            <div class="field col-6 md:col-3">
              <label for="subject">Subject</label><br />
              <p-dropdown
                [options]="subjects"
                formControlName="subject"
                optionLabel="name"
                optionValue="id"
                placeholder="Select a Subject"
                [filter]="true"
                filterBy="name"
              ></p-dropdown
              ><br />
              <small [errorMsg]="errorMsg('subject')" class="ml-2 p-error">
              </small>
            </div>
            <div class="field col-6 md:col-3">
              <label for="autor">Autor</label><br />
              <p-dropdown
                [options]="autors"
                formControlName="autor"
                optionLabel="name"
                optionValue="id"
                placeholder="Select a Autor"
                [filter]="true"
                filterBy="name"
              ></p-dropdown
              ><br />
              <small [errorMsg]="errorMsg('autor')" class="ml-2 p-error">
              </small>
            </div>
            <div class="text-center col field md:col-3">
              <label for="isFeatured">IsFeatured</label><br />
              <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
            </div>
            <div class="text-center col field md:col-3">
              <label for="state">State</label><br />
              <p-inputSwitch formControlName="state"></p-inputSwitch>
            </div>

            <div class="field col-12">
              <label for="description">Description</label>
              <textarea
                id="description"
                type="text"
                rows="4"
                formControlName="description"
                class="p-2 w-full text-base border-solid appearance-none outline-none text-color surface-overlay border-1 surface-border border-round focus:border-primary"
              ></textarea>

              <small [errorMsg]="errorMsg('description')" class="p-error">
              </small>
            </div>

            <div class="field col-12">
              <p-editor
                formControlName="content"
                [style]="{ height: '320px' }"
              ></p-editor>
              <small [errorMsg]="errorMsg('content')" class="p-error"> </small>
            </div>
          </div>

          <div class="field col-12">
            <label for="image">Image</label><br />
            <div
              class="p-2 border-solid outline-none text-color surface-overlay border-1 surface-border border-round"
            >
              <input
                id="image"
                type="file"
                accept="image/*"
                (change)="onImageUpload($event)"
              />
              <div class="p-2 col-4">
                <img style="width: 100%" [src]="imageDisplay" alt="" />
              </div>
            </div>
          </div>
          <div
            class="col-12"
            *ngIf="editMode === continue"
            formArrayName="evaluation"
          >
            <label for="evaluation">Evaluation</label>
          <div class="generic-container">

            <button class="mt-2 button-primary" (click)="addEvaluation()">
              Add Evaluation
            </button>
            
          </div>
            <div
              class="field col-12 mt-2"
              *ngFor="let test of getEvaluationArray().controls; let i = index"
              [formArrayName]="i"
            >
              <div class="flex align-items-center mt-4">
                <h2>{{ i + 1 + ')' }}</h2>
                <input
                  style="height: max-content; width: 100%"
                  type="text"
                  formControlName="question"
                  pInputText
                  placeholder="Question"
                />
                <div class="generic-container">
                  <button
                    class="button-primary"
                    style="min-width: 80px; max-width: 100px"
                    [disabled]="getEvaluationArray().controls.length <= 1"
                    (click)="removeEvaluation(i)"
                  >
                    Remove
                  </button>
                </div>
              </div>

              <div
                class="pl-4 mt-4"
                formArrayName="options"
                *ngFor="
                  let optionnn of getOptionArray(i).controls;
                  let y = index
                "
              >
                <div [formGroupName]="y" class="flex field-checkbox gap-2">
                  <h2>{{ y + 1 + ')' }}</h2>

                  <p-radioButton
                    [name]="i.toString()"
                    [formControl]="getCorrectKey(i)"
                    [value]="getKey(i, y).value"
                  ></p-radioButton>

                  <input
                    type="text"
                    formControlName="key"
                    pInputText
                    maxlength="1"
                    style="text-transform: uppercase"
                    placeholder="Key"
                  />

                  <input
                    type="text"
                    style="width: 100%"
                    formControlName="option"
                    pInputText
                    placeholder="Option"
                  />
                  <div class="generic-container">
                    <button
                      class="button-primary"
                      style="min-width: 80px; max-width: 100px"
                      [disabled]="getOptionArray(i).controls.length <= 1"
                      (click)="removeOption(i, y)"
                    >
                      Remove
                    </button>
                  </div>
                </div>
              </div>
              <div class="generic-container">
                <button class="button-primary" (click)="addOption(i)">
                  Add Option
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
