body , .p-component{
font-family: 'Source Sans Pro', sans-serif;
background-color: white;  
// #FFF1BD;
--primary-color: #146356;
--primary-text-color: #020122;

// #D93829

--primary-color-dark:#FF521B;
// #BF3124;
--red: #990000;
--orange: #FF5B00;
--green: #D4D925;
--yellow: #FFEE63;
}

a {
  text-decoration: none;
}
ul {
  @include reset-list;
}
