.header{
    &-main{
        width:100%;
        background-color: white;
        height: 85px;
        
    }
    &-container{
        max-width: 1200px;
        margin:0 auto;

    }
    
}
.logo{
    height: 60px;
}