.nav {
  padding-top: 10px;


  li {
    margin-top: 23px;
    list-style: none;
    display: inline-block;
    margin-right: 1rem;

    a {
      font-size: 1.2em;
      color: var(--third-color);
      cursor: pointer;
      &:hover {
        color: var(--primary-color);
      }
    }
    .active{
      cursor: pointer;
      color: var(--primary-color);
    }
  
  }


}
.icons{
  color: var(--third-color);
  cursor: pointer;
  &:hover {
    color: var(--primary-color);
  }
}
.menu{
  width: 100%;
  color: --primary-color;
  &-separator{
    height: 2px;
    max-height: 2px;
    width: 100%;
    background-color: var(--primary-color);
  }



}

