<div class="header-container">
  <div class="header">
      <div class="logo-container"
      routerLink="/app/books"
      
      >
        <img src="assets/word@2x.png" class="logo" alt="" 
        />
      </div>
      <!-- <div class="">
        <robinbook-navbar 
        *ngIf="(isAuth$ | async) === false"></robinbook-navbar>
        <robinbook-auth-navbar
          *ngIf="(isAuth$ | async)"
        ></robinbook-auth-navbar>
      </div> -->
      <h2>No Autorizado</h2>
      <h2 *ngIf="false"> Autorizado</h2>
    </div>
</div>
