<div>

  <ul class="flex nav justify-content-end">
    <li><a routerLinkActive="active" routerLink="/app/home">Home</a></li>

    <li><a routerLinkActive="active" routerLink="/app/books">Books</a></li>


    <li>
      <frontend-wishlist-icon

      ></frontend-wishlist-icon>
    </li>


    <button class="button-header-secondary" 
    routerLink="/auth/login"
    >
      LOGIN

    </button>
    <button class="button-header-primary"
    routerLink="/auth/signup"
    
    >
      SIGN UP FOR FREE
    </button>
  </ul>
  
</div>

