<div class="home-container">
  <div class="home-first">
    <div class="home-image"></div>
    <div class="home-text">
      <h1>
        ⚡ Learn faster.
        <a> 🧠 learn smarter.</a>
      </h1>
      <p>
        RobinHook is the first app who cares about your learning. How many of us
        have paid any activity to force us to go? Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Eligendi est maxime nulla repudiandae
        labore. Harum a illo voluptatem molestiae tempora animi, incidunt libero
        error soluta? Quas odio quidem dolore consectetur.
      </p>
      <div class="enroll-container">
        <div class="enroll-button">
          <button class="button-primary">Enroll Now</button>
        </div>
        <i>
          🏹
        </i>
        <!-- <div class="arrow-container">
          <div class="arrow">
            <div class="point"></div>
            <div class="shaft"></div>
            <div class="fletching"></div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
